<div class=containers>
<h1>Login</h1>
<%= form_tag sessions_path do %><br>
  <%= label_tag :email %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= email_field_tag :email %><br>
  <%= label_tag :password %> &nbsp
  <%= password_field_tag :password %><br>
  <br><%= submit_tag "Login", class: 'btn btn-primary btn-sm' %>
<% end %>
</div>
