<div class = "row">
  <div class = "column">
    <%= render"shared/side_bar" %>
  </div>
  <div class = "column col-sm-8 mt-3">
    <% if current_user %>
      <div class = "mb-3">
        <%= "Hello #{current_user.full_name}" %>
      </div>
      <div class = "mb-2">
        <%= "You are now logged in" %>
      </div>
      <div class = "mb-2">
        <%= "Email:- #{current_user.email}" %>
      </div>
      <%= "Contact No:- #{current_user.mobile_no}" %>
    <% end %>
  </div>
</div>
